---
import Layout from "../../layouts/Layout.astro";
import config from "@/config";
import ExcalidrawViewer from "@/components/Excalidraw";
import fs from "node:fs/promises";

export function getStaticPaths() {
  return [{ params: { slug: "sample" } }];
}

// TODO: Do for all files and place in getStaticPaths
const url = new URL("../../../public/sample.excalidraw", import.meta.url);
const json = await fs.readFile(url, "utf-8");
const data = JSON.parse(json);

const { slug } = Astro.params;
---

<!-- TODO: Load file in Astro and send data to component -->
<Layout title={config.metadata?.title ?? "Obsidian"}>
  <div class="w-full max-w-screen-lg py-4">
    <ExcalidrawViewer client:only="react" slug={slug} />
  </div>
</Layout>
