---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello">
  <div
    class="flex flex-col h-[calc(100svh-5rem)] items-center justify-center gap-5"
  >
    <h1 class="text-5xl font-bold">404</h1>
    <h2 class="text-4xl">Page not found</h2>
  </div>
</Layout>
