---
import Layout from "../layouts/Layout.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

let Content: AstroComponentFactory;
let isIndexExists = false;

try {
  const posts = await Astro.glob("../config/index.md");
  Content = posts[0].Content;
  isIndexExists = true;
} catch (e) {
  isIndexExists = false;
}
---

<Layout title="Hello">
  <article
    class="p-5 prose prose-base dark:prose-invert max-w-none overflow-x-auto"
  >
    <!-- TODO: Improve default index html -->
    {isIndexExists ? <Content /> : <h1>Hello World</h1>}
  </article>
</Layout>
