---
import Layout from "../../layouts/Layout.astro";
import config from "@/config";
import PDFViewer from "@/components/PDFViewer.svelte";
import fs from "node:fs/promises";
import { glob } from "glob";

export async function getStaticPaths() {
  const paths = await glob("public/**/*.pdf");

  return await Promise.all(
    paths.map(async (path) => {
      const url = new URL(`../../../${path}`, import.meta.url);
      const json = await fs.readFile(url, "utf-8");

      const splitPath = url.pathname.split(/public\/(.*)\.pdf/gm);
      const slug = splitPath.pop() || splitPath.pop();

      console.log(slug);

      return { params: { slug: slug! }, props: { data: json } };
    })
  );
}

const { slug } = Astro.params;
---

<Layout title={config.metadata?.title ?? "Obsidian"}>
  <div class="w-full max-w-screen-lg py-4">
    <PDFViewer client:only="svelte" url={`/${slug}.pdf`} />
  </div>
</Layout>
