---
const { link, name, direction } = Astro.props as {
  link: string;
  name: string;
  direction: "left" | "right";
};

import { ChevronLeft, ChevronRight } from "lucide-svelte";
---

<a
  href={link}
  style={direction == "left"
    ? "border-radius: var(--radius) 0 0 var(--radius)"
    : "border-radius: 0 var(--radius) var(--radius) 0"}
  class="flex flex-row gap-2 w-full border hover:border-black dark:hover:border-white text-center"
>
  {
    direction == "left" && (
      <>
        <ChevronLeft class="ml-2 min-w-5 w-5 self-center " />
        <span class="pr-3 py-1 flex-grow align-middle self-center text-end line-clamp-2">
          {name}
        </span>
      </>
    )
  }

  {
    direction == "right" && (
      <>
        <span class="pl-3 py-1 flex-grow align-middle self-center text-start line-clamp-2">
          {name}
        </span>
        <ChevronRight class="mr-2 min-w-5 w-5 self-center" />
      </>
    )
  }
</a>
