---
const { link, name, direction } = Astro.props as {
  link: string;
  name: string;
  direction: "left" | "right";
};

import { ChevronLeft, ChevronRight } from "lucide-svelte";
---

<a
  href={link}
  style={direction == "left"
    ? "border-radius: var(--radius) 0 0 var(--radius)"
    : "border-radius: 0 var(--radius) var(--radius) 0"}
  class="grid gap-2 w-full grid-cols-2 border hover:border-black dark:hover:border-white text-center"
>
  {
    direction == "left" && (
      <>
        <ChevronLeft class="ml-3 place-self-start self-center " />
        <span class="pr-5 flex-grow align-middle place-self-end self-center">
          {name}
        </span>
      </>
    )
  }

  {
    direction == "right" && (
      <>
        <span class="pl-5 flex-grow align-middle place-self-start self-center">
          {name}
        </span>
        <ChevronRight class="mr-3 place-self-end  self-center" />
      </>
    )
  }
</a>
