---
import "@/styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
import Drawer from "@components/Drawer";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ModeToggle client:load />
    <Drawer client:load />
    <slot />
  </body>
</html>
