---
import "@/styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
import Drawer from "@components/Drawer";
import { Tree, type TreeDataItem } from "@components/ui/tree";
import { Workflow, Folder } from "lucide-react";

interface Props {
  title: string;
}

const posts = await Astro.glob("../posts/**/*.md");
const data = posts.map((post, index) => {
  const rel_path = post.file.split("src/posts/")[1];
  const sanitized = rel_path.split(".md")[0];

  console.log("ff" + index.toString());

  return { id: "ff" + index.toString(), url: "/" + sanitized, name: sanitized };
}) satisfies TreeDataItem[];

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="flex h-14 w-svw fixed bg-black"></header>
    <Tree
      client:load
      data={data}
      className="flex-shrink-0 fixed w-[300px] h-[100vh - 3.5rem] mt-14 border-[1px]"
      initialSelectedItemId="ff0"
      folderIcon={Folder}
    />
    <!-- <ModeToggle client:load /> -->
    <div class="pl-[300px] pt-14">
      <slot />
    </div>
    <footer></footer>
  </body>
</html>
